@import "./fonts.scss";
@import "./components/sing.scss";

.App {
  background-color: rgb(24, 24, 24);
  color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';

}


a {
  text-decoration: none;
  color: white;
}

input[type="checkbox"]:checked, 
    input[type="checkbox"]:not(:checked) 
    {
        position: absolute;
        left: -9999px;
    }
    input[type="checkbox"]:checked + label, 
    input[type="checkbox"]:not(:checked) + label {
        display: inline-block;
        position: relative;
        padding-left: 28px;
        line-height: 20px;
        cursor: pointer;
    }

    input[type="checkbox"]:checked + label:before, 
    input[type="checkbox"]:not(:checked) + label:before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 18px;
        height: 18px;
        border: 2px solid #a5a5a5;
        background-color: rgb(24, 24, 24);
    }

    input[type="checkbox"]:checked + label:before, 
    input[type="checkbox"]:not(:checked) + label:before {
        border-radius: 2px;
    }

    input[type="checkbox"]:checked + label:after, 
    input[type="checkbox"]:not(:checked) + label:after {
        content: "";
        position: absolute;
        transition: all 0.2s ease;
    }
    input[type="checkbox"]:checked + label:after, 
    input[type="checkbox"]:not(:checked) + label:after {
        left: 3px;
        top: 4px;
        width: 10px;
        height: 5px;
        border-radius: 1px;
        border-left: 4px solid #ffffff;
        border-bottom: 4px solid #ffffff;
        transform: rotate(-45deg);
    }

    input[type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
    }

    input[type="checkbox"]:checked + label:after {
        opacity: 1;
    }

